

<div class="row mt-5">
    <div class="col-md-12">
        <mdb-card cascade="true" narrower="true" class="mt-5">
            <div class="view gradient-card-header blue darken-2">
                <h4 class="h4-responsive text-white">Выбранная категория вопроса: <h3>{{selectedCategory?.name}}</h3></h4>
            </div>
            <mdb-card-body>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>