<div class="row mt-5">
    <div class="col-md-12">
        <mdb-card cascade="true" narrower="true" class="mt-5">
            <div class="view gradient-card-header blue darken-2">
                <h4 class="h4-responsive text-white">Категории вопросов</h4>
            </div>
            <mdb-card-body>
                <button pButton type="button" (click)="new()">Создать</button>
                <p-table [value]="items" dataKey="id" responsiveLayout="scroll"
                (onEditComplete)="onEditComplete($event)" (onEditInit)="onEditInit($event)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Наименование</th>
                            <th>Количество вопросов</th>
                            <th>Дата создания</th>
                            <th>Дата обновления</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td [pEditableColumn]="item" [pEditableColumnField]="item.name">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="item.name">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{item.name}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>{{item.countQuestion}}</td>
                            <td>{{item.createDate|date:'MMMM dd, yyyy hh-mm-ss' }}</td>
                            <td>{{item.updateDate|date:'MMMM dd, yyyy hh-mm-ss' }}</td>
                            <td><button pButton type="button" label="Подробнее" class="p-button-link" (click)="goTo(item.id)"></button></td>
                        </tr>
                    </ng-template>
                </p-table>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>